.grid {
  /* padding: 2px; */
  margin: 20px;
  color: white;
  color: #446896;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.columnLabel {
  text-align: block;
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  min-width: 30px;
}

.columnLabel > div {
  display: block;
  text-align: center;
  font-size: 0.6em;
  min-width: 30px;
}
