.legendContainer {
  width: 100%;
}

.legend {
  margin: auto;
  min-width: 800px;
  max-width: 800px;
  border: 1px solid #363636;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.legendTitle {
  padding: 5px;
  text-align: left;
}

.legendRow {  
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 0.80em;
  text-align: left;
  height: 30px;
  line-height: 30px;
}

.col0 {
  min-width: 35px;  
}

.col1 {
  min-width: 100px;  
}

.col2 {
  min-width: 240px;  
}

.col34 {
  min-width: 90px;  
}

.col56 {
  min-width: 120px;  
}
